@model OzelKodAddDto

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="card">
            <form id="registerFormValidation" action="" method="post" novalidate="">
                <div class="card-header">
                    <h4 class="card-title">
                        <b>Stok Özel Kod 2 Bilgileri</b>
                    </h4>
                </div>
                <div class="card-content">
                    <div class="form-group">
                        <label asp-for="Kod" class="control-label">Kod <star>*</star></label>
                        <input class="form-control"
                               asp-for="Kod"
                               name="Kod"
                               id="registerKod"
                               type="text"
                               required="true"
                               autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label asp-for="OzelKodAdi" class="control-label">Stok Özel Kod 2 Adı <star>*</star></label>
                        <input class="form-control"
                               asp-for="OzelKodAdi"
                               name="OzelKodAdi"
                               id="registerOzelKodAdi"
                               type="text"
                               required="true" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Aciklama" class="control-label">Açıklama </label>
                        <input class="form-control"
                               asp-for="Aciklama"
                               name="Aciklama"
                               id="registerAciklama"
                               type="text" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Durum" class="control-label">Aktif / Pasif </label>
                        <input asp-for="Durum" type="checkbox" class="switch-icon" checked>
                    </div>
                    <div class="category"><star>*</star> Zorunlu Alan</div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="mr-2 btn btn-danger btn-fill pull-right">Kaydet</button>
                    <a asp-controller="StokOzelKod2" asp-action="Index" class="ml-2 btn btn-default btn-fill pull-right">Vazgeç</a>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>

</div>

@section Scripts {

    <script type="text/javascript">
        $().ready(function () {
            $('#registerFormValidation').validate();
            $('#loginFormValidation').validate();
            $('#allInputsFormValidation').validate();
        });
    </script>

}
