@model BankaHareketAddDto

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="card">
            <form id="registerFormValidation" action="" method="post" novalidate="">
                <div class="card-header">
                    <h4 class="card-title">
                        <b>Banka Virman Bilgileri</b>
                    </h4>
                </div>
                <div class="card-content">
                    <div class="form-group">
                        <label asp-for="Kod" class="control-label">Kod <star>*</star></label>
                        <input class="form-control"
                               asp-for="Kod"
                               name="Kod"
                               id="registerKod"
                               type="text"
                               required="true"
                               autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <label asp-for="BankaId" class="control-label">Banka Adı <star>*</star></label>
                        <select asp-for="BankaId" class="selectpicker"
                                data-style="btn btn-default btn-block"
                                title="Banka Seçiniz" data-size="7"
                                required="true"
                                asp-items="ViewBag.Bankalar">
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="TransferBankaId" class="control-label">Transer Banka Adı <star>*</star></label>
                        <select asp-for="TransferBankaId" class="selectpicker"
                                data-style="btn btn-default btn-block"
                                title="Transfer Banka Seçiniz" data-size="7"
                                required="true"
                                asp-items="ViewBag.Bankalar">
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarih" class="control-label">Tarih <star>*</star></label>
                        <input class="form-control"
                               asp-for="Tarih"
                               name="Tarih"
                               id="registerTarih"
                               type="date" />
                    </div>

                    <div class="form-group">
                        <label asp-for="MakbuzNo" class="control-label">Makbuz No </label>
                        <input class="form-control"
                               asp-for="MakbuzNo"
                               name="MakbuzNo"
                               id="registerMakbuzNo"
                               type="text" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Tutar" class="control-label">Tutar <star>*</star></label>
                        <input class="form-control"
                               asp-for="Tutar"
                               name="Tutar"
                               id="registerTutar"
                               type="text" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Aciklama" class="control-label">Açıklama </label>
                        <input class="form-control"
                               asp-for="Aciklama"
                               name="Aciklama"
                               id="registerAciklama"
                               type="text" />
                    </div>
                    <div class="category"><star>*</star> Zorunlu Alan</div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="mr-2 btn btn-danger btn-fill pull-right">Kaydet</button>
                    <a asp-controller="BankaVirman" asp-action="Index" class="ml-2 btn btn-default btn-fill pull-right">Vazgeç</a>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>

</div>

@section Scripts {

    <script type="text/javascript">
        $().ready(function () {
            $('#registerFormValidation').validate();
            $('#loginFormValidation').validate();
            $('#allInputsFormValidation').validate();
        });
    </script>

}
