
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}


<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 display-3 text-center">
            <img src="~/img/errorpage.png" class="w-100 img-fluid" />
            <div class="text-center" style="font-size:24px">
                Hata Kaynağı : @ViewBag.Path
            </div>
            <div class="text-center" style="font-size:24px">
                @ViewBag.Message
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

